@media all and (max-width:992px){
    #container{
        flex-wrap: wrap;
        
    }
    .background{
        width: 30%;
    }
}

@media all and (max-width:448px){
    #container{
        flex-wrap: wrap;
        
    }
    .background{
        width: 50%;
    }
}

